@model IEnumerable<Service.Dtos.CustomerDto>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    @customer.Name
                </td>

                <td>
                    @customer.Address
                </td>
                <td>
                    @Html.ActionLink("View Orders", "ViewOrders", "Customers", new { customerId = customer.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>


